#Message-part
{
    height: 100vh;
}


.column
{
    float: left;
    width: 50%;
    height: 95vh;
    background-color: rgba(29,30,32,255);
    position: relative;
}
.mailgif
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

@media screen and (max-width: 600px)
{
.column
{
    width: 100%;
    height: 50vh;
    
}
.mailgif
{
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
}

form
{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
   
}
.input-box
{
    width: 400px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #9e3f9e;
    color: white;

    background-color: rgba(0,0,0,.25);

}
.input-box-textarea
{
    color: white;
    width: 400px;
    border: 1px solid #9e3f9e;

    background-color: rgba(0,0,0,.25);
}
.input-box-submit
{
    background-color:  #9e3f9e ;
    border: 1px solid #9e3f9e;
    border-radius: 28px;
    color: white;


    width: 400px;
    height: 50px;
   
}
::placeholder
{
    color: white;
    padding-left: 7px;
}

th
{
    padding: 7px;
}

@media screen and (max-width: 600px)
{
    .input-box
    {
       
       width: 300px;
    }
    .input-box-textarea
    {
        width: 300px;
    }
    .input-box-submit
    {
        width: 150px;
        height: 40px;  
}
}